{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block body %}
	<div class="bg-login h-100">
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					Tu est connecté en tant que 
					{{ app.user.username }},
					<a href="{{ path('app_logout') }}">Déconnexion</a>
				</div>
			{% endif %}

			<h1 class="h3 pt-5 mb-5 font-weight-normal text-center text-orange">Se connecter</h1>
			<div class="bg-secondary p-5 w-50 mx-auto rounded-3 d-flex flex-column align-item-center">
                <div>
				<input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control mb-5" autocomplete="username" placeholder="Pseudo" required autofocus>
				<input type="password" name="password" id="inputPassword" class="form-control mb-5" autocomplete="current-password" placeholder="Mot de passe" required>

				<input
				type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
				{#
						        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
						        See https://symfony.com/doc/current/security/remember_me.html
						
						        <div class="checkbox mb-3">
						            <label>
						                <input type="checkbox" name="_remember_me"> Remember me
						            </label>
						        </div>
						    #}

				<button class="btn btn-lg btn-primary" type="submit">
					Connexion
				</button>
			</div>
		</form>
	</div>
{% endblock %}
