{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<div class="h-100 bg-registration-form corps">
		<h1 class="text-center text-orange pt-5 mb-5">Inscription</h1>

		<div class="px-5 py-4 w-75 mx-auto rounded-3 d-flex flex-column align-item-center bg-dark">
			{{ form_start(registrationForm) }}

			<div class="form-control my-2">
				{{ form_row(registrationForm.pseudo) }}
			</div>

			<div class="form-control my-2">
				{{ form_row(registrationForm.plainPassword) }}
			</div>

			<div class="form-control my-2">
				{{ form_row(registrationForm.nom) }}
			</div>

			<div class="form-control my-2">
				{{ form_row(registrationForm.prenom) }}
			</div>

			<div class="form-control my-2">
				{{ form_row(registrationForm.email) }}
			</div>

			<div class="form-control my-2">
				{{ form_row(registrationForm.discord_id) }}
			</div>

			<div class="form-control my-2">
				{{ form_row(registrationForm.steam_id) }}
			</div>

			<div class="form-control my-2 d-flex">
				<span class="pe-5">{{ form_label(registrationForm.tryhard_meter) }}:</span>
				<span class="pe-2">0</span> {{ form_widget(registrationForm.tryhard_meter) }} <span class="ps-2">10</span>
			</div>

			<div class="form-control my-2">
				{{ form_row(registrationForm.description) }}
			</div>

			<div class="form-control my-2">
				{{ form_row(registrationForm.jeu) }}
			</div>

			<div class="form-control my-2">
				{{ form_row(registrationForm.categorie) }}
			</div>

			<div class="form-control my-2">
				{{ form_row(registrationForm.agreeTerms) }}
			</div>

			<div class="form-control my-2">
				<span class="text-danger">{{ form_row(registrationForm.chartreToxic) }}</span>
			</div>

			<div class="w-25 mx-auto d-flex justify-content-center"><button type="submit" class="btn btn-primary w-50">S'inscrire</button>
			{{ form_end(registrationForm) }}
			</div>
		</div>

	</div>
{% endblock %}
