{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

	<h1 class="text-center">Inscription</h1>


	{{ form_start(registrationForm) }}

	<div class="form-control">
		{{ form_row(registrationForm.pseudo) }}
	</div>

	<div class="form-control">
		{{ form_row(registrationForm.plainPassword) }}
	</div>

	<div class="form-control">
		{{ form_row(registrationForm.nom) }}
	</div>

	<div class="form-control">
		{{ form_row(registrationForm.prenom) }}
	</div>

	<div class="form-control">
		{{ form_row(registrationForm.email) }}
	</div>

	<div class="form-control">
		{{ form_row(registrationForm.discord_id) }}
	</div>

	<div class="form-control">
		{{ form_row(registrationForm.steam_id) }}
	</div>

	<div class="form-control">
		<span class="pe-5">{{ form_label(registrationForm.tryhard_meter) }}
			:</span>
		{{ form_widget(registrationForm.tryhard_meter) }}
	</div>

	<div class="form-control">
		{{ form_row(registrationForm.description) }}
	</div>

	<div class="form-control">
		{{ form_row(registrationForm.jeu) }}
	</div>

	<div class="form-control">
		{{ form_row(registrationForm.categorie) }}
	</div>

	<div class="form-control">
		{{ form_row(registrationForm.agreeTerms) }}
	</div>

	<button type="submit" class="btn btn-primary">S'inscrire</button>
	{{ form_end(registrationForm) }}


{% endblock %}
