{{ form_start(form) }}
    <p>{{ form_label(form.nom) }} :</p>
    <p>{{ form_widget(form.nom) }}</p>

    <p>{{ form_label(form.description) }} :</p>
    <p>{{ form_widget(form.description) }}</p>

    <p>{{ form_label(form.categorie) }} :</p>
    <p>{{ form_widget(form.categorie) }}</p>

<div class="d-flex justify-content-center">
    <button class="btn btn-primary me-5">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
