{% extends 'base.html.twig' %}

{% block title %}Index des jeux{% endblock %}

{% block body %}
    <h1>Jeux</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for jeu in jeus %}
            <tr>
                <td>{{ jeu.id }}</td>
                <td>{{ jeu.nom }}</td>
                <td>{{ jeu.description|slice(0, 25) }} ...</td>
                <td>
                    <a href="{{ path('admin_jeu_show', {'id': jeu.id}) }}">Détails</a>
                    <a href="{{ path('admin_jeu_edit', {'id': jeu.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_jeu_new') }}">Ajouter un nouveau</a>
{% endblock %}
