{% extends 'base.html.twig' %}

{% block title %}Jeu{% endblock %}

{% block body %}
    <h1>Jeu : {{ jeu.nom }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jeu.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ jeu.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ jeu.description }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ jeu.categorie.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_jeu_index') }}">Retourner à la liste des jeux</a>

    <a href="{{ path('admin_jeu_edit', {'id': jeu.id}) }}">Modifier</a>

    {{ include('admin/jeu/_delete_form.html.twig') }}
{% endblock %}
