{% extends 'base.html.twig' %}

{% block title %}Vos matchs{% endblock %}

{% block body %}
    <h1 class="text-center pt-5 mb-5">Les joueurs que vous avez matchés !</h1>

    <div class="d-flex flex-wrap">
        {% if matchs is empty %}
            <p class="text-danger mx-auto">Aucun match trouvé, Pour trouver des joueurs <i class="fas fa-arrow-right"></i> <a href="{{ path("matching") }}" class="text-decoration-none">Matching</a></p>
        {% endif %}
        {% for match in matchs %}
            <div class="card col-3">
                <img src="{{ asset(images_profil ~ match.joueur2.profilImg) }}" class="card-img-top" alt="image de profil">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title">{{ match.joueur2.pseudo }}</h5>
                    <p class="card-text">Niveau de tryhard : {{ match.joueur2.tryhardMeter }}</p>
                    <div>
                        <p>Jeux préférés :</p>
                            <ul>
                                {% for jeu in match.joueur2.jeu %}
                                    <li>{{ jeu.nom }}</li>
                                {% endfor %}
                            </ul>
                    </div>
                    <div>
                        <p>Catégories de jeux préférés :</p>
                            <ul>
                                {% for categorie in match.joueur2.categorie %}
                                    <li>{{ categorie.nom }}</li>
                                {% endfor %}
                            </ul>
                    </div>
                    <div class="text-center">
                        <a href="{{ path('matchingDetail', {'id': match.joueur2.id}) }}" class="btn btn-primary">Voir détail</a>
                    </div>
                </div>
            </div>
        {% endfor %}
	</div>
{% endblock %}
